{{ define "title" }} {{ .Test.Code }} {{ end }}
{{ define "view" }}
<main>
  <div class="section">
    <h1 class="title is-1">{{ .Test.Code }}</h1>
    <h3 class="subtitle is-3">{{ .Test.Description }}</h3>
  </div>
  <div>
    {{ .Take }}
  </div>
  {{ if eq .Take.Status .IntroStatus }}
  <div class="section">
    <p>{{ .Test.Instruction }}</p>
  </div>
  <div class="section">
    <p class="block is-size-5 has-text-centered">When you are happy please continue to the next step.</p>
    <div class="level">
      <div class="level-item has-text-centered">
        <div class="block">
          <button class="button is-large is-primary is-rounded" live-click="begin-test">Continue</button>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  {{ if eq .Take.Status .QuestionsStatus }}
  <div class="section">
    <progress class="progress is-large is-success" value="{{ .Page }}" max="{{ .Test.PageCount }}">{{
      .Page }}%</progress>
    <p class="header">Page {{ .Page }} of {{ .Test.PageCount }}</p>
  </div>
  <div class="section">
    {{ range .CurrentQuestions }}
    {{ template "question-card" . }}
    {{ end }}
  </div>
  <div class="level">
    <div class="level-item has-text-centered">
      <div class="block">
        <button class="button is-large is-rounded is-danger" live-click="prev-page" {{ if le .Page 1
          }}disabled{{end}}>Previous</button>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div class="block">
        {{ if ge .Page .Test.PageCount }}
        <button class="button is-large is-rounded is-success" live-click="end-test" {{ if .Test.IsNotDone
          }}disabled{{end}}>Finish</button>
        {{ else }}
        <button class="button is-large is-rounded is-success" live-click="next-page" {{ if ge .Page .Test.PageCount
          }}disabled{{end}} {{ if .Test.IsPageNotDone .Page }}disabled{{end}}>Next</button>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  <!-- end questions status -->

  {{ if eq .Take.Status .FinishStatus }}
  <p>test result will be here</p>
  <div>
    {{ range $i, $scale := .Test.Scales }}
    <div class="block">
      <p>{{ $scale.Title }}</p>
      <p>{{ $scale.Result }}</p>
      <p class="heading">{{ $scale.Result.Formula }}</p>
    </div>
    {{ end }}
  </div>
  {{ end }}
</main>
{{ end }}

{{ define "question-card" }}
<div class="notification box {{ if .IsDone }}question-done{{end}}">
  <p class="title is-5">{{ .Content }}</p>
  <div>
    {{ range $i, $item := .Items }}
    <p class="title is-3">{{ .Content }}</p>
    <div class="control">
      {{ range $j, $s := N .Steps }}
      <button class="button {{ if eq $item.CurrentResponseValue $j }}is-success{{ end }}" live-click="response-update"
        live-value-item="{{ $item.Code }}" live-value-val="{{ $j }}">{{ $j }}</button>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}