{{ define "title" }} Orrery {{ end }}
{{ define "description" }} Psychometrics for fun and science {{ end }}
{{ define "view" }}
<main>
  <div class="section">
    <div class="block">
      {{ if gt (len .ActiveTags) 0 }}
      <p class="title is-4 is-size-5-mobile">
        <span>{{ .UI.Home.TagFilter1 }} </span>
        <a live-click="toggle-filter-mode">
          {{ if .FilterModeAny }}
          {{ .UI.Home.TagAny }}
          {{ else }}
          {{ .UI.Home.TagAll }}
          {{ end }}
        </a>
        <span> {{ .UI.Home.TagFilter2 }}:</span>
      </p>
      <div>
        {{ range .ActiveTags }}
        {{ template "filter-tag-active" . }}
        {{ end }}
      </div>
      {{ end }}
    </div>
    <div class="columns">
      <div class="column is-4">
        <p class="title is-4 is-size-5-mobile">{{ .UI.Home.TagThemes }}</p>
        {{ range .Tags }}
        {{ if eq .Type "theme" }}
        {{ if CodeInTags .Code $.ActiveTags }}
        {{ template "filter-tag-active" . }}
        {{ else }}
        {{ template "filter-tag-inactive" . }}
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
      <div class="column is-4">
        <p class="title is-4 is-size-5-mobile">{{ .UI.Home.TagSize }}</p>
        {{ range .Tags }}
        {{ if eq .Type "len" }}
        {{ if CodeInTags .Code $.ActiveTags }}
        {{ template "filter-tag-active" . }}
        {{ else }}
        {{ template "filter-tag-inactive" . }}
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
      <div class="column is-4">
        <p class="title is-4 is-size-5-mobile">{{ .UI.Home.TagFeatures }}</p>
        {{ range .Tags }}
        {{ if eq .Type "feature" }}
        {{ if CodeInTags .Code $.ActiveTags }}
        {{ template "filter-tag-active" . }}
        {{ else }}
        {{ template "filter-tag-inactive" . }}
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  <div class="section">
    <div class="columns is-multiline">
      {{ range $i, $test := .Tests }}
      <div class="column is-4">
        {{ template "test-card" $test }}
      </div>
      {{ end }}
    </div>
  </div>
</main>
{{ end }}

{{ define "test-card" }}
<div class="box notification">
  <!-- FIXME -->
  <!-- <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item" title="Rating">
        <span class="icon-text">
          <span class="icon"><i class="bi bi-star-fill"></i></span>
          <span><b>{{ .Mark }}</b></span>
        </span>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item" title="Questions">
        <span class="icon-text">
          <span class="icon"><i class="bi bi-ui-checks"></i></span>
          <span><b>{{ .QuestionCount }}</b></span>
        </span>
      </div>
    </div>
  </div> -->
  <p class="title is-3 is-size-5-mobile"><a href="/test/{{ .Code }}">{{ .Title }}</a></p>
  <p class="subtitle is-5 is-size-6-mobile">{{ .Description }}</p>
  {{ template "test-tags" . }}
</div>
{{ end }}

{{ define "filter-tag-active" }}
<button class='button {{ template "tag-button-style" . }} is-rounded is-small mr-2 mb-1' live-click="toggle-tag"
  live-value-tag="{{ .Code }}">
  <b>{{ .Content }}</b>
</button>
{{ end }}

{{ define "filter-tag-inactive" }}
<button class='button is-outlined {{ template "tag-button-style" . }} is-rounded is-small mr-2 mb-1'
  live-click="toggle-tag" live-value-tag="{{ .Code }}">
  <b>{{ .Content }}</b>
</button>
{{ end }}