{{ define "title" }} {{ .Test.Title }} {{ end }}
{{ define "description" }} {{ .Test.Description }} {{ end }}

{{ define "top-hero" }}
<section class='hero is-primary animated-gradient-bg test-hero {{ if ne .Test.Image "" }}test-hero-bg{{end}}' {{
  template "test-image-bg" .Test }}>
  <div class="hero-body mb-5">
    <div class="columns">
      <div class="column">
        <h1 class="title is-1 is-size-3-mobile">
          {{ .Test.Title }}
          <span class="title is-2 is-size-3-mobile is-clickable" live-click="toggle-show-details">
            {{ if .ShowDetails }}
            <i class="bi bi-info-circle"></i>
            {{ else }}
            <i class="bi bi-info-circle-fill"></i>
            {{ end }}
          </span>
          {{ if eq .Test.Take.Status .QuestionsStatus }}
          <span class="title is-2 is-size-3-mobile is-clickable ml-2" live-click="toggle-show-instruction">
            {{ if .ShowInstruction }}
            <i class="bi bi-question-circle"></i>
            {{ else }}
            <i class="bi bi-question-circle-fill"></i>
            {{ end }}
          </span>
          {{ end }}
        </h1>
        <h3 class="subtitle is-3 is-size-5-mobile">{{ .Test.Description }}</h3>
        {{ if .Test.Take }}
        <span class="heading">
          {{ if .Test.Take.StartTime }}
          <span>Started at: <b>{{ DisplayTime .Test.Take.StartTime }}</b></span>
          {{ end }}
          {{ if .Test.Take.EndTime }}
          <span> - Finished at: <b>{{ DisplayTime .Test.Take.EndTime }}</b> in {{ .Test.Take.Elapsed }}</span>
          {{ end }}
        </span>
        {{ end }}
      </div>
      {{ if eq .CurrentView "result" }}
      <div class="column is-narrow">
        {{ template "locale-selector" . }}
      </div>
      {{ end }}
    </div>
    {{ template "show-details-block" . }}
    {{ template "show-instruction-block" . }}
    {{ if eq .Test.Take.Status .FinishStatus }}
    {{ template "main-result-block" . }}
    {{ end }}
  </div>
</section>
{{ end }}

{{ define "view" }}
<main>
  {{ if eq .Test.Take.Status .IntroStatus }}
  <div class="section pt-2">
    <div class="columns">
      <div class="column is-6">
        {{ template "locale-selector" . }}
      </div>
      <div class="column is-6">
        <p class="title is-5">{{ .UI.Test.InterfaceSettings }}</p>
        {{ template "test-controls-info" . }}
      </div>
    </div>
    <div class="notification is-primary is-elevated">
      <p class="title is-3 is-size-5-mobile">{{ .UI.Test.Instructions }}</p>
      <div class="content is-medium is-hidden-mobile">{{ .Test.Instruction }}</div>
      <div class="content is-normal is-hidden-tablet p-2">{{ .Test.Instruction }}</div>
    </div>
  </div>
  <div class="section pt-3">
    <p class="block is-size-5 is-size-6-mobile has-text-centered">{{ .UI.Test.BeginLabel }}</p>
    <div class="level">
      <div class="level-item has-text-centered">
        <div class="block">
          <button class="button is-large is-primary is-rounded is-hidden-mobile is-elevated" live-click="begin-test">{{
            .UI.Test.BeginButton }}</button>
          <button class="button is-primary is-rounded is-hidden-tablet" live-click="begin-test">{{ .UI.Test.BeginButton
            }}</button>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  {{ if eq .Test.Take.Status .QuestionsStatus }}
  <div class="section">
    <div class="block">
      <progress class="progress is-normal is-primary" value="{{ .Page }}" max="{{ .Test.PageCount }}">{{
        .Page }}%</progress>
      <p class="header">{{ .UI.Test.Page }} {{ .Page }} {{ .UI.Test.Of }} {{ .Test.PageCount }}</p>
    </div>
    {{ range .CurrentQuestions }}
    <div class="box {{ if .IsDone }}question-done{{end}} is-elevated">
      <p class="title is-5 is-size-6-mobile">{{ .Content }}</p>
      <div>
        {{ range $i, $item := .Items }}
        <p class="title is-3 is-size-5-mobile">{{ .Content }}</p>
        <div class="control">
          {{ range $j, $s := N .Steps }}
          <button class="button {{ if eq $item.CurrentResponseValue $j }}is-success{{ end }}"
            live-click="response-update" live-value-item="{{ $item.Code }}" live-value-val="{{ $j }}">
            {{ Plus1 $j }}
          </button>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  <div class="level is-mobile">
    <div class="level-item has-text-centered">
      <div class="block">
        <button class="button is-large is-rounded is-danger is-hidden-mobile" live-click="prev-page" {{ if le .Page 1
          }}disabled{{end}}>{{ .UI.Test.PrevButton }}</button>
        <button class="button is-rounded is-danger is-hidden-tablet" live-click="prev-page" {{ if le .Page 1
          }}disabled{{end}}>{{ .UI.Test.PrevButton }}</button>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div class="block">
        {{ if ge .Page .Test.PageCount }}
        <button class="button is-large is-rounded is-primary is-hidden-mobile" live-click="end-test" {{ if
          .Test.IsNotDone }}disabled{{end}}>{{ .UI.Test.FinishButton }}</button>
        <button class="button is-rounded is-primary is-hidden-tablet" live-click="end-test" {{ if .Test.IsNotDone
          }}disabled{{end}}>{{ .UI.Test.FinishButton }}</button>
        {{ else }}
        <button class="button is-large is-rounded is-primary is-hidden-mobile" live-click="next-page" {{ if ge .Page
          .Test.PageCount }}disabled{{end}} {{ if .Test.IsPageNotDone .Page }}disabled{{end}}>
          {{ .UI.Test.NextButton }}
        </button>
        <button class="button is-rounded is-primary is-hidden-tablet" live-click="next-page" {{ if ge .Page
          .Test.PageCount }}disabled{{end}} {{ if .Test.IsPageNotDone .Page }}disabled{{end}}>
          {{ .UI.Test.NextButton }}
        </button>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="section">
    {{ template "test-controls-info" . }}
  </div>
  {{ end }}
  <!-- end questions status -->

  {{ if eq .Test.Take.Status .FinishStatus }}
  {{ template "advanced-settings" . }}
  <div class="section pt-3">
    <p class="subtitle is-2 is-size-4-mobile has-text-centered">{{ .UI.Test.DetailedReport }}</p>
  </div>
  <div class="columns is-multiline">
    {{ range $i, $scale := .Test.Scales }}
    <div class="column is-6">
      <div class="box has-equal-height">
        <div class="columns">
          <div class="column">
            <p class="title is-3 is-size-5-mobile">{{ $scale.Title }}</p>
            <p class="subtitle is-5 is-size-6-mobile">{{ $scale.Description }}</p>
          </div>
          <div class="column is-narrow">
            <div class="notification is-primary is-elevated p-4 has-text-centered">
              <p class="title is-3 is-size-5-mobile has-text-white">
                {{printf "%.1f" $scale.Result.Score }}{{$scale.Result.Unit }}
              </p>
            </div>
          </div>
        </div>
        <p class="heading">{{ $scale.Result.Formula }}</p>
        <hr>
        <div class="level is-mobile">
          <div class="level-left">
            <div class="level-item">{{ $scale.Result.Min }}</div>
          </div>
          <div class="level-item has-text-centered">{{ Mean $scale.Result.Min $scale.Result.Max }}</div>
          <div class="level-right">
            <div class="level-item">{{ $scale.Result.Max }}</div>
          </div>
        </div>
        <progress class="progress is-medium is-primary"
          value="{{ Perc $scale.Result.Min $scale.Result.Max $scale.Result.Score }}"
          max="{{ Perc $scale.Result.Min $scale.Result.Max $scale.Result.Max }}">
          {{ $scale.Result.Score }}
        </progress>
        <div class="content is-normal is-bordered">
          {{ if $scale.Result.Interpretation }}
          {{ $scale.Result.Interpretation.Content }}
          {{ else }}
          <p>Interpretation not found. This problem is reported.</p>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  {{ if eq .CurrentView "test" }}
  <div class="section">
    <p class="subtitle is-2 is-size-4-mobile has-text-centered">{{ .UI.Test.TestMark }}</p>
    <div class="control block has-text-centered">
      {{ range $j, $s := N 5 }}
      <button class="button {{ if eq (Plus1 $j) (DerefInt $.Test.Take.Mark) }}is-success{{ end }}"
        live-click="test-mark-update" live-value-val="{{ Plus1 $j }}">
        {{ Plus1 $j }}
      </button>
      {{ end }}
    </div>
  </div>
  {{ end }}
  <!-- mark block end -->
  <div class="columns p-4">
    <div class="column is-6">
      <p class="heading">
        <i class="bi bi-exclamation-triangle"></i> {{ .UI.Test.Disclaimer }}
      </p>
    </div>
    <div class="column is-6">
      <p class="heading">
        <i class="bi bi-exclamation-triangle"></i> {{ .UI.Test.NormsInfo }}
      </p>
    </div>
  </div>
  {{ end }}
</main>
{{ end }}

{{ define "test-controls-info" }}
<div class="box has-background-grey-lighter">
  <div class="columns">
    <div class="column is-narrow">
      <p>
        <button class="button is-rounded {{ if .AutoNext }}is-success{{else}}is-outlined{{end}}"
          live-click="toggle-auto-next">
          {{ .UI.Test.AutoNext }}
        </button>
      </p>
    </div>
    <div class="column">
      <p>{{ .UI.Test.AutoNext }}: <b>{{ if .AutoNext }}ON{{else}}OFF{{end}}</b></p>
      <p class="heading">{{ .UI.Test.AutoNextInfo }}</p>
    </div>
  </div>
</div>
{{ end }}

{{ define "show-details-block" }}
{{ if .ShowDetails }}
<div class="card is-elevated">
  <header class="card-header">
    <p class="card-header-title">
      {{ .UI.Test.About }}
    </p>
    <button class="card-header-icon" aria-label="hide" live-click="toggle-show-details">
      <span class="icon">
        <i class="bi bi-eye-slash"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <div class="content is-medium is-hidden-mobile">{{ .Test.Details }}</div>
        <div class="content is-normal is-hidden-tablet p-2">{{ .Test.Details }}</div>
      </div>
      <div class="column is-narrow">
        <div class="box has-background-grey-lighter">
          <div class="table-container">
            <table class="table is-fullwidth">
              <tbody>
                <tr>
                  <td>Scales</td>
                  <th class="has-text-right">{{ len .Test.Scales }}</th>
                </tr>
                <tr>
                  <td>Questions</td>
                  <th class="has-text-right">{{ .Test.QuestionCount }}</th>
                </tr>
                <tr>
                  <td>Average time</td>
                  <th class="has-text-right">{{ FormatDuration .Test.Duration }}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-footer-item">
      {{ template "test-tags" .Test }}
    </div>
  </div>
</div>
{{ end }}
{{ end }}

{{ define "show-instruction-block" }}
{{ if .ShowInstruction }}
<div class="card mt-5 is-elevated">
  <header class="card-header">
    <p class="card-header-title">
      {{ .UI.Test.Instructions }}
    </p>
    <button class="card-header-icon" aria-label="hide" live-click="toggle-show-instruction">
      <span class="icon">
        <i class="bi bi-eye-slash"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="content is-medium is-hidden-mobile">{{ .Test.Instruction }}</div>
    <div class="content is-normal is-hidden-tablet p-2">{{ .Test.Instruction }}</div>
  </div>
</div>
{{ end }}
{{ end }}

{{ define "share-result-twitter" }}
<a target="_blank" class="button is-fullwidth share-twitter-button"
  href="https://twitter.com/intent/tweet?original_referer={{ .Test.Link .Domain }}&amp;text={{ .Test.ResultShareText }}&amp;tw_p=tweet&amp;url={{ .Test.Link .Domain }}&amp;via=OrreryLab">
  <span class="icon">
    <i class="bi bi-twitter"></i>
  </span>
  <span>Share on Twitter</span>
</a>
{{ end }}

{{ define "share-result-facebook" }}
<a target="_blank" class="button is-fullwidth share-facebook-button"
  onclick="return !window.open(this.href, 'Facebook', 'width=640,height=480')"
  href="https://www.facebook.com/sharer.php?u={{ .Test.Link .Domain }}" data-url="{{ .Test.Link .Domain }}">
  <span class="icon">
    <i class="bi bi-facebook"></i>
  </span>
  <span>Share on Facebook</span>
</a>
{{ end }}

{{ define "advanced-settings" }}
{{ if .ShowAdvancedSettings }}
<div class="advanced-settings-block">
  <p class="is-size-5 is-size-6-mobile has-text-centered has-text-white-ter"
    title="{{ .UI.Result.SetMethodDescription }}">
    <i class="bi bi-question-circle"></i>
  </p>
  <p>
    <button live-click="set-method" live-value-method="{{ .MethodSten }}" class="m-1 button is-rounded is-small is-info"
      title="{{ .UI.Result.InStandartScale }}">
      <span class="icon">
        <i class="bi bi-soundwave"></i>
      </span>
    </button>
  </p>
  <p>
    <button live-click="set-method" live-value-method="{{ .MethodPerc }}" class="m-1 button is-rounded is-small is-info"
      title="{{ .UI.Result.InPercentageScale }}">
      <span class="icon">
        <i class="bi bi-percent"></i>
      </span>
    </button>
  </p>
  <p>
    <button live-click="set-method" live-value-method="" class="m-1 button is-rounded is-small"
      title="{{ .UI.Result.Discard }}">
      <span class="icon">
        <i class="bi bi-x"></i>
      </span>
    </button>
  </p>
</div>
{{ end }}
{{ end }}

{{ define "main-result-block" }}
<section class="card mt-5 is-elevated">
  <header class="card-header">
    <p class="card-header-title has-text-white">
    </p>
    <button class="card-header-icon" aria-label="advanced-settings" live-click="toggle-show-advanced"
      title="{{ .UI.Result.AdvancedSettings }}">
      <span class="icon">
        <i class="bi bi-gear-fill"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="columns">
      <div class="column is-6">
        {{ template "main-result-chart" . }}
      </div>
      <div class="column is-6">
        <div class="content is-normal">{{ .Test.ResultPreambule }}</div>
        <div class="level">
          <div class="level-item">
            {{ template "share-result-facebook" . }}
          </div>
          <div class="level-item">
            {{ template "share-result-twitter" . }}
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p><a href="/result/{{ .Test.Take.ID }}" target="_blank">{{ .UI.Test.ResultLinkLabel }}</a></p>
        <p>{{ .UI.Test.ResultLinkInfo }}</p>
      </div>
      <div class="column is-narrow">
        {{ if eq .CurrentView "result" }}
        <a href="/test/{{ .Test.Code }}" class="button is-rounded is-success mr-2 mt-1" target="_blank">
          <b>{{ .UI.Test.TakeThisButton }}</b>
        </a>
        {{ end }}
        <a href="/" class="button is-rounded is-primary mt-1" target="_blank"><b>{{ .UI.Test.ExploreButton }}</b></a>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "test-image-bg" }}
{{ if . }}
{{ if .Image }}
style='background-image: url("{{ .Image }}");'
{{ end }}
{{ end }}
{{ end }}

{{ define "main-result-chart" }}
<table class="charts-css column show-labels show-5-secondary-axes data-spacing-5 has-equal-height" id="basic-chart">
  <tbody class="has-equal-height">
    {{ range $i, $scale := .Test.Scales }}
    <tr>
      <th scope="row">
        {{ $scale.Abbreviation }}
      </th>
      <td style="--size: calc({{ $scale.Result.Score }} / {{ $scale.Result.Max }} )">
        <span class="data"> {{printf "%.1f" $scale.Result.Score}} </span>
        <span class="tooltip"> {{ $scale.Title }} </span>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}