{{ define "title" }} Lentils {{ end }}
{{ define "view" }}
<main>
  <div class="section">
    <h1 class="title is-1">Lentils</h1>
    <h3 class="subtitle is-3">Психологические тесты и всё такое</h3>
  </div>
  <div class="section">
    {{ range $i, $test := .Tests }}
    {{ template "test-card" $test }}
    {{ end }}
  </div>
  {{ if .Summary }}
  <div class="section">
    {{ template "system-summary" .Summary }}
  </div>
  {{ end }}
</main>
{{ end }}

{{ define "test-card" }}
<div class="box notification">
  <p class="title is-3"><a href="/test/{{ .Code }}">{{ .Title }}</a></p>
  <p class="subtitle is-5">{{ .Description }}</p>
</div>
{{ end }}