{{ define "title" }} Status {{ end }}
{{ define "description" }} Psychometrics for fun and science {{ end }}
{{ define "view" }}
<main>
    {{ template "back-to-home" }}
    <section class="section">
        <h1 class="title is-1 has-text-centered">
            Orrery System Status
        </h1>
        <div class="level">
            <div class="level_item">
                <p class="subtitle is-3 is-size-5-mobile">Env</p>
                <p class="title is-5">{{ .Env }}</p>
            </div>
            <div class="level_item has-text-centered">
                <p class="subtitle is-3 is-size-5-mobile">Domain</p>
                <p class="title is-5">{{ .Domain }}</p>
            </div>
            <div class="level_item has-text-right">
                <p class="subtitle is-3 is-size-5-mobile">Version</p>
                <p class="title is-5">{{ .Version }}</p>
            </div>
        </div>
        <div class="block">
            <p class="subtitle is-3 is-size-5-mobile">Errors</p>
            {{ if eq (len .Errors) 0 }}
            <p class="title is-5 is-size-6-mobile">No errors</p>
            {{ else }}
            {{ range .Errors }}
            <div class="notification is-danger">
                <p>{{ . }}</p>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <div class="block">
            <p class="subtitle is-3 is-size-5-mobile">Instance Events</p>
            {{ if eq (len .Events) 0 }}
            <p class="title is-5 is-size-6-mobile">No events</p>
            {{ else }}
            <div class="table-container">
                <table class="table is-fullwidth is-hoverable">
                    <thead>
                        <tr>
                            <th>From now</th>
                            <th>Name</th>
                            <th>Started</th>
                            <!-- <th>Ended</th> -->
                            <th>Took</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $i, $event := .Events }}
                        <tr>
                            <th>-{{ Since $event.StartTime }}</th>
                            <td><b>{{ $event.Name }}</b></td>
                            <td>{{ DisplayTechTime $event.StartTime }}</td>
                            <!-- <td>{{ DisplayTechTime $event.EndTime }}</td> -->
                            <td>{{ $event.Elapsed }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>From now</th>
                            <th>Name</th>
                            <th>Started</th>
                            <!-- <th>Ended</th> -->
                            <th>Took</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            {{ end }}
        </div>
        {{ if .Summary }}
        <div class="section">
          {{ template "system-summary" .Summary }}
        </div>
        {{ end }}
    </section>
</main>
{{ end }}