{{ define "title" }} {{ .Test.Title }} {{ end }}
{{ define "description" }} {{ .Test.Description }} {{ end }}
{{ define "view" }}
<main>
  <div class="section">
    <div class="columns">
      <div class="column">
        <h1 class="title is-1 is-size-3-mobile">{{ .Test.Title }}</h1>
        <h3 class="subtitle is-3 is-size-5-mobile">{{ .Test.Description }}</h3>
        {{ if .Test.Take }}
        <span class="heading">
          {{ if .Test.Take.StartTime }}
          <span>Started at: <b>{{ DisplayTime .Test.Take.StartTime }}</b></span>
          {{ end }}
          {{ if .Test.Take.EndTime }}
          <span> - Finished at: <b>{{ DisplayTime .Test.Take.EndTime }}</b> in {{ .Test.Take.Elapsed }}</span>
          {{ end }}
        </span>
        {{ end }}
      </div>
      {{ if eq .CurrentView "result" }}
      <div class="column is-narrow">
        {{ template "locale-selector" . }}
      </div>
      {{ end }}
    </div>
    {{ template "show-details-block" . }}
    {{ if eq .Test.Take.Status .QuestionsStatus }}
    {{ template "show-instruction-block" . }}
    {{ end }}
  </div>

  {{ if eq .Test.Take.Status .IntroStatus }}
  <div class="section">
    <div class="columns">
      <div class="column is-6">
        {{ template "locale-selector" . }}
      </div>
      <div class="column is-6">
        <p class="title is-5">{{ .UI.Test.InterfaceSettings }}</p>
        {{ template "test-controls-info" . }}
      </div>
    </div>
    <div class="notification is-primary is-elevated">
      <p class="title is-3 is-size-5-mobile">{{ .UI.Test.Instructions }}</p>
      <div class="content is-medium is-hidden-mobile">{{ .Test.Instruction }}</div>
      <div class="content is-normal is-hidden-tablet">{{ .Test.Instruction }}</div>
    </div>
  </div>
  <div class="section">
    <p class="block is-size-5 is-size-6-mobile has-text-centered">{{ .UI.Test.BeginLabel }}</p>
    <div class="level">
      <div class="level-item has-text-centered">
        <div class="block">
          <button class="button is-large is-primary is-rounded is-hidden-mobile is-elevated" live-click="begin-test">{{
            .UI.Test.BeginButton }}</button>
          <button class="button is-primary is-rounded is-hidden-tablet" live-click="begin-test">{{ .UI.Test.BeginButton
            }}</button>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  {{ if eq .Test.Take.Status .QuestionsStatus }}
  <div class="section">
    <div class="block">
      <progress class="progress is-normal is-success" value="{{ .Page }}" max="{{ .Test.PageCount }}">{{
        .Page }}%</progress>
      <p class="header">{{ .UI.Test.Page }} {{ .Page }} {{ .UI.Test.Of }} {{ .Test.PageCount }}</p>
    </div>
    {{ range .CurrentQuestions }}
    <div class="box {{ if .IsDone }}question-done{{end}} is-elevated">
      <p class="title is-5 is-size-6-mobile">{{ .Content }}</p>
      <div>
        {{ range $i, $item := .Items }}
        <p class="title is-3 is-size-5-mobile">{{ .Content }}</p>
        <div class="control">
          {{ range $j, $s := N .Steps }}
          <button class="button {{ if eq $item.CurrentResponseValue $j }}is-success{{ end }}"
            live-click="response-update" live-value-item="{{ $item.Code }}" live-value-val="{{ $j }}">
            {{ Plus1 $j }}
          </button>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  <div class="level is-mobile">
    <div class="level-item has-text-centered">
      <div class="block">
        <button class="button is-large is-rounded is-danger is-hidden-mobile" live-click="prev-page" {{ if le .Page 1
          }}disabled{{end}}>{{ .UI.Test.PrevButton }}</button>
        <button class="button is-rounded is-danger is-hidden-tablet" live-click="prev-page" {{ if le .Page 1
          }}disabled{{end}}>{{ .UI.Test.PrevButton }}</button>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div class="block">
        {{ if ge .Page .Test.PageCount }}
        <button class="button is-large is-rounded is-success is-hidden-mobile" live-click="end-test" {{ if
          .Test.IsNotDone }}disabled{{end}}>{{ .UI.Test.FinishButton }}</button>
        <button class="button is-rounded is-success is-hidden-tablet" live-click="end-test" {{ if .Test.IsNotDone
          }}disabled{{end}}>{{ .UI.Test.FinishButton }}</button>
        {{ else }}
        <button class="button is-large is-rounded is-success is-hidden-mobile" live-click="next-page" {{ if ge .Page
          .Test.PageCount }}disabled{{end}} {{ if .Test.IsPageNotDone .Page }}disabled{{end}}>
          {{ .UI.Test.NextButton }}
        </button>
        <button class="button is-rounded is-success is-hidden-tablet" live-click="next-page" {{ if ge .Page
          .Test.PageCount }}disabled{{end}} {{ if .Test.IsPageNotDone .Page }}disabled{{end}}>
          {{ .UI.Test.NextButton }}
        </button>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="section">
    {{ template "test-controls-info" . }}
  </div>
  {{ end }}
  <!-- end questions status -->

  {{ if eq .Test.Take.Status .FinishStatus }}
  <div class="box">
    <div class="columns">
      <div class="column is-6">
        <table class="charts-css column show-labels show-5-secondary-axes show-primary-axis show-data-axes"
          id="basic-chart">
          <tbody>
            {{ range $i, $scale := .Test.Scales }}
            <tr>
              <th scope="row">
                {{ $scale.Abbreviation }}
              </th>
              <td style="--size: calc({{ $scale.Result.Score }} / {{ $scale.Result.Max }} )">
                <span class="data"> {{printf "%.1f" $scale.Result.Score}} </span>
                <span class="tooltip"> {{ $scale.Title }} </span>
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
      <div class="column is-6">
        <div class="content is-normal is-hidden-tablet">{{ .Test.ResultPreambule }}</div>
        <div class="content is-medium is-hidden-mobile">{{ .Test.ResultPreambule }}</div>
        <div class="level">
          <div class="level-item">
            {{ template "share-result-facebook" . }}
          </div>
          <div class="level-item">
            {{ template "share-result-twitter" . }}
          </div>
        </div>
      </div>
    </div>
    {{ template "advanced-settings" . }}
    <div class="columns">
      <div class="column is-6">
        <p class="heading">
          <i class="bi bi-exclamation-triangle"></i> {{ .UI.Test.NormsInfo }}
        </p>
      </div>
      <div class="column is-6">
        <p class="heading">
          <i class="bi bi-exclamation-triangle"></i> {{ .UI.Test.Disclaimer }}
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p><a href="/result/{{ .Test.Take.ID }}" target="_blank">{{ .UI.Test.ResultLinkLabel }}</a></p>
        <p>{{ .UI.Test.ResultLinkInfo }}</p>
      </div>
      <div class="column is-narrow">
        {{ if eq .CurrentView "result" }}
        <a href="/test/{{ .Test.Code }}" class="button is-rounded is-success mr-2 mt-1" target="_blank">{{
          .UI.Test.TakeThisButton }}</a>
        {{ end }}
        <a href="/" class="button is-rounded is-primary mt-1" target="_blank">{{ .UI.Test.ExploreButton }}</a>
      </div>
    </div>
  </div>
  <div class="section">
    <p class="subtitle is-2 is-size-4-mobile has-text-centered">{{ .UI.Test.DetailedReport }}</p>
  </div>
  <div class="columns is-multiline">
    {{ range $i, $scale := .Test.Scales }}
    <div class="column is-6">
      <div class="box has-equal-height">
        <div class="columns">
          <div class="column">
            <p class="title is-3 is-size-5-mobile">{{ $scale.Title }}</p>
            <p class="subtitle is-5 is-size-6-mobile">{{ $scale.Description }}</p>
          </div>
          <div class="column is-narrow">
            <p class="title is-3 is-size-5-mobile has-text-primary">{{printf "%.1f" $scale.Result.Score }}{{
              $scale.Result.Unit }}</p>
          </div>
        </div>
        <p class="heading">{{ $scale.Result.Formula }}</p>
        <hr>
        <div class="level is-mobile">
          <div class="level-left">
            <div class="level-item">{{ $scale.Result.Min }}</div>
          </div>
          <div class="level-item has-text-centered">{{ Mean $scale.Result.Min $scale.Result.Max }}</div>
          <div class="level-right">
            <div class="level-item">{{ $scale.Result.Max }}</div>
          </div>
        </div>
        <progress class="progress is-large is-success"
          value="{{ Perc $scale.Result.Min $scale.Result.Max $scale.Result.Score }}"
          max="{{ Perc $scale.Result.Min $scale.Result.Max $scale.Result.Max }}">
          {{ $scale.Result.Score }}
        </progress>
        <div class="content is-normal">
          {{ if $scale.Result.Interpretation }}
          {{ $scale.Result.Interpretation.Content }}
          {{ else }}
          <p>Interpretation not found. This problem is reported.</p>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  {{ if eq .CurrentView "test" }}
  <div class="section">
    <p class="subtitle is-2 is-size-4-mobile has-text-centered">{{ .UI.Test.TestMark }}</p>
    <div class="control block has-text-centered">
      {{ range $j, $s := N 5 }}
      <button class="button {{ if eq (Plus1 $j) (DerefInt $.Test.Take.Mark) }}is-success{{ end }}"
        live-click="test-mark-update" live-value-val="{{ Plus1 $j }}">
        {{ Plus1 $j }}
      </button>
      {{ end }}
    </div>
  </div>
  {{ end }}
  <!-- mark block end -->
  {{ end }}
</main>
{{ end }}

{{ define "test-controls-info" }}
<div class="box has-background-grey-lighter">
  <div class="columns">
    <div class="column is-narrow">
      <p>
        <button class="button is-rounded {{ if .AutoNext }}is-success{{else}}is-outlined{{end}}"
          live-click="toggle-auto-next">
          {{ .UI.Test.AutoNext }}
        </button>
      </p>
    </div>
    <div class="column">
      <p>{{ .UI.Test.AutoNext }}: <b>{{ if .AutoNext }}ON{{else}}OFF{{end}}</b></p>
      <p class="heading">{{ .UI.Test.AutoNextInfo }}</p>
    </div>
  </div>
</div>
{{ end }}

{{ define "show-details-block" }}
<div class="block">
  <p class="is-clickable subtitle is-6 is-size-6-mobile has-text-grey" live-click="toggle-show-details">
    {{ if .ShowDetails }}
    {{ .UI.Test.HideDetails }}
    <i class="bi bi-caret-up-fill"></i>
    {{ else }}
    {{ .UI.Test.ShowDetails }}
    <i class="bi bi-caret-down-fill"></i>
    {{ end }}
  </p>
</div>
{{ if .ShowDetails }}
<div class="box has-background-grey-lighter">
  {{ template "test-tags" .Test }}
  <div class="columns">
    <div class="column">
      <div class="content is-medium is-hidden-mobile">{{ .Test.Details }}</div>
      <div class="content is-normal is-hidden-tablet">{{ .Test.Details }}</div>
    </div>
    <div class="column is-narrow">
      <p><b>Scales:</b> {{ len .Test.Scales }}</p>
      <p><b>Questions:</b> {{ .Test.QuestionCount }}</p>
      <p><b>Average time:</b> {{ .Test.Duration }}</p>
    </div>
  </div>
</div>
{{ end }}
{{ end }}

{{ define "show-instruction-block" }}
<div class="block">
  <p class="is-clickable subtitle is-6 is-size-6-mobile has-text-grey" live-click="toggle-show-instruction">
    {{ if .ShowInstruction }}
    {{ .UI.Test.HideInstruction }}
    <i class="bi bi-caret-up-fill"></i>
    {{ else }}
    {{ .UI.Test.ShowInstruction }}
    <i class="bi bi-caret-down-fill"></i>
    {{ end }}
  </p>
</div>
{{ if .ShowInstruction }}
<div class="box has-background-grey-lighter">
  <p class="title is-3 is-size-5-mobile">{{ .UI.Test.Instructions }}</p>
  <div class="content is-medium is-hidden-mobile">{{ .Test.Instruction }}</div>
  <div class="content is-normal is-hidden-tablet">{{ .Test.Instruction }}</div>
</div>
{{ end }}
{{ end }}

{{ define "share-result-twitter" }}
<a target="_blank" class="button is-fullwidth share-twitter-button"
  href="https://twitter.com/intent/tweet?original_referer={{ .Test.Link .Domain }}&amp;text={{ .Test.ResultShareText }}&amp;tw_p=tweet&amp;url={{ .Test.Link .Domain }}&amp;via=OrreryLab">
  <span class="icon">
    <i class="bi bi-twitter"></i>
  </span>
  <span>Share on Twitter</span>
</a>
{{ end }}

{{ define "share-result-facebook" }}
<a target="_blank" class="button is-fullwidth share-facebook-button"
  onclick="return !window.open(this.href, 'Facebook', 'width=640,height=480')"
  href="https://www.facebook.com/sharer.php?u={{ .Test.Link .Domain }}" data-url="{{ .Test.Link .Domain }}">
  <span class="icon">
    <i class="bi bi-facebook"></i>
  </span>
  <span>Share on Facebook</span>
</a>
{{ end }}

{{ define "advanced-settings" }}
<div class="columns">
  <div class="column is-narrow">
    <button class="button is-light is-medium is-rounded" live-click="toggle-show-advanced"
      title="{{ .UI.Result.AdvancedSettings }}">
      <span class="icon has-text-grey">
        <i class="bi bi-gear-fill"></i>
      </span>
    </button>
  </div>
  {{ if .ShowAdvancedSettings }}
  <div class="column">
    <p class="title is-5 is-size-6-mobile">{{ .UI.Result.AdvancedSettings }}</p>
    <div class="columns">
      <div class="column">
        <p class="mb-1">
          {{ .UI.Result.ResultsAreShown }}
          {{ if .OverrideMethod }}
          {{ if eq .OverrideMethod .MethodSten }}
          <b>{{ .UI.Result.InStandartScale }}</b>.
          {{ end }}
          {{ if eq .OverrideMethod .MethodPerc }}
          <b>{{ .UI.Result.InPercentageScale }}</b>.
          {{ end }}
          {{ else }}
          <b>{{ .UI.Result.InDefaultScale }}</b>.
          {{ end }}
          {{ .UI.Result.Recalculate }}:
        </p>
        <div class="columns is-gapless">
          <div class="column is-narrow">
            <button live-click="set-method" live-value-method="{{ .MethodSten }}"
              class="m-1 button is-rounded is-small is-info">{{ .UI.Result.InStandartScale }}</button>
          </div>
          <div class="column is-narrow">
            <button live-click="set-method" live-value-method="{{ .MethodPerc }}"
              class="m-1 button is-rounded is-small is-info">{{ .UI.Result.InPercentageScale }}</button>
          </div>
          <div class="column is-narrow">
            <button live-click="set-method" live-value-method="" class="m-1 button is-rounded is-small">
              {{ .UI.Result.Discard }}
            </button>
          </div>
        </div>
      </div>
      <div class="column is-5">
        <p class="heading">
          <i class="bi bi-question-circle"></i> {{ .UI.Result.SetMethodDescription }}
        </p>
      </div>
    </div>
    <hr>
  </div>
  {{ end }}
</div>
{{ end }}